*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.draggable-elements{
    display: flex;
    justify-content: center;
    margin: 2 rem;
}
.draggable{
    width: 5rem;
    height: 5rem;
    display: flex;
    /* border: 1px solid black; */
     font-size: 4rem; 
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: move;

}
.droppable{
    width: 7rem;
    height: 7rem;
    background-color: rgb(203, 187, 187);
    border: 3px dashed black;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.draggable:hover{
    opacity: 0.5;

}