* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1280px;
    margin: auto;
    font-family: 'Inter';
}

/* header */
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 65px 0;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    padding: 0 16px;
    font-size: 18px;
    margin: o auto;
}

a {
    text-decoration: none;
    color: black;
}

.authenticate {
    display: flex;
    align-items: center;
}

#signin {
    height: 42px;
    width: 84px;
    margin-left: 23.12px;
    margin-right: 20px;
    border: 1px #F54748 solid;
    color: #F54748;
    background-color: white;
    border-radius: 5px;
}

#signup {
    height: 42px;
    width: 84px;
    color: white;
    background-color: #F54748;
    border-radius: 5px;
    border: none;
}

/* banner */

.price {
    font-size: 40px;
    color: #F54748;
    margin: 20px 0 30px 0;
}

h2 {
    font-size: 40px;
    font-weight: 900;
}

#quantity {
    height: 42px;
    width: 180px;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 32px;
}

::placeholder {
    padding-left: 15px;
}

#card {
    width: 110px;
    height: 42px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.img>img {
    width: 100%;
    margin-right: 0px;
}

/* end banner */
/* table */

.sanpham1 img {
    border-radius: 10px;
    margin: 10px 0;
}

#add {
    height: 42px;
    width: 400px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 96px;
}



.banner {
    margin-top: 129px;
    margin-bottom: 129px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px; */
}

.sanpham1>img {
    width: 100%;
}

.sanpham1>#add {
    width: 100%;
}

.img {
    width: 50%;
    margin-top: 20px;
}

@media(min-width:768px) {
    .banner {
        margin-top: 129px;
        margin-bottom: 129px;
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px; */
    }

    .sanpham1>img {
        width: 100%;
    }

    .sanpham1>#add {
        width: 100%;
    }

    .img {
        width: 50%;
        margin-top: 20px;
    }
}

@media(min-width:1280px) {
    .banner {
        margin-top: 129px;
        margin-bottom: 129px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    
    .table1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
    .img>img {
        width: 100%;
        margin-right: 0px;
    }
    .img{
        width: 100%;
    }
}