* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1280px;
    margin: auto;
    font-family: 'Inter';
}

/* header */
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 65px 0;
}

.menu1 ul {
    text-align: center;
}

.menu1 li {
    display: inline-block;
    padding: 0 16px;
    font-size: 18px;
    margin: o auto;
}

a {
    text-decoration: none;
    color: black;
}

.authenticate {
    display: flex;
    align-items: center;
}

#signin {
    height: 42px;
    width: 84px;
    margin-left: 23.12px;
    margin-right: 20px;
    border: 1px #F54748 solid;
    color: #F54748;
    background-color: white;
    border-radius: 5px;
}

#signup {
    height: 42px;
    width: 84px;
    color: white;
    background-color: #F54748;
    border-radius: 5px;
    border: none;
}

/* end header */
.menu2 a {
    font-size: 20px;
    font-weight: bold;
}

.menu2 li {
    list-style: none;
    margin-top: 24px;
}

.sanpham2 {
    width: 290px;
}

.sanpham2 img {
    border-radius: 10px;
    margin: 15px 0 23px 0;
}

#add {
    height: 31px;
    width: 290px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
}

/* responsive */
/* .banner {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 57px;
} */

/* .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
} */
.list {
    width: 100%;
}

#cate-list {
    display: flex;
}

li {
    padding: 0 20px;
}

.sanpham2 {
    width: 100%;
}

.sanpham2 a img {
    width: 100%;
}

@media(min-width:768px) {
    .list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    #cate-list {
        display: flex;
    }

    li {
        padding: 0 20px;
    }

    .sanpham2 {
        width: 100%;
    }

    .sanpham2 a img {
        width: 100%;
    }

    #add {
        width: 100%;
    }
}

@media(min-width:1280px) {
    .container{
        width: 1280px;
    }
    .banner {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 57px;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    #cate-list {
        display: block;
        margin-right: 200px;
    }

    li {
        padding: 0 20px;
    }

    .sanpham2 {
        width: 290px;
    }

    .sanpham2 a img {
        width: 290px;
    }

    #add {
        width: 290px;
    }
}