* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.logo {
    width: 68px;
    height: 32px;
    margin: 45px auto;
}

.wel {
    margin: 83px 0 16px 0;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 900px;
}

label {
    font-size: 16px;
    font-weight: 600;
}



button {
    height: 50px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    color: white;
    border: none;
    line-height: 50px;
    background-color: #37A9CD;
}

input {
    margin: 12px 0;
    border-radius: 5px;
    height: 50px;
    width: 400px;
    border: 2px #37A9CD solid;
    padding: 0 17px;
}

button {
    line-height: 50px;
}

#login {
    background-color: #37A9CD;
    margin: 17px 0 15px 0;
}

#sgoogle {
    background-color: black;
    margin-bottom: 32px;
}

button img {
    margin: auto;
    margin-right: 11px;
}

form>div {
    text-align: center;
}

a, p {
    margin: 16px 0;
    text-decoration: none;
}

a {
    color: #37A9CD;
}